//The fonts constant
$ib: Inter-bold;
$isb: Inter-semibold;
$im: Inter-medium;
$ir: Inter-regular;

$lsb: Lato-semibold;
$lr: Lato-regular;

// The color constant

$bgGray: #F7F7F8;
$bgDarkGray: #F0F0F0;
$bgGreen: #A0EF10;
$bgPink: #ED1C53;
$bgYelow: #FFB800;
$bgBlue: #5B74C8;
$bgDarkGreen: #5AAD2D;

$borderGray: #dadada;

$white: #FFFFFF;
$black: #000000;
$red: #FF0000;
$green: #45B26B;

$textGray: #777F8C;
$textLightGray: #d9d9d9;
$textRed: #E85029;
$textBlue: #1D57FF;
$textGreen: #55C719;