.clients {
    &__container {
        padding: 24px;
        background: $white;
        margin-bottom: 20px;
        box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.06);
        border-radius: 16px;
        border: 1px solid #F0F0F0;
    }

    &__number {
        padding: 0 6px;
        line-height: 18px;
        display: inline-block;
        background: $bgPink;
        color: $white;
        border-radius: 30px;
        font-size: 12px;
        font-family: $ib;
        max-height: 18px;
    }

    &__bar {
        display: flex;
        justify-content: space-between;

        &-left {
            display: flex;
            gap: 15px;
        }

        &-right {
            display: flex;
            gap: 10px;
        }
        
        &-button {
            display: flex;
            padding: 4px 10px;
            border: 0;
            align-items: center;
            background: $white;
            border-radius: 10px;
            border: 2px solid #E6E8EC;
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.06) inset;
            cursor: pointer;

            &-container {
                display: flex;
                gap: 10px;
            }
        }
    }

    &__button {
        border-radius: 8px;
        background: $bgGray;
        border: none;
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.04) inset;
        font-size: 12px;
        color: $textGray;
        font-family: $isb;
        padding: 8px 12px;
        cursor: pointer;
        transition: all 500ms;
        margin-top: 10px;
        margin-left: 10px;

        &:hover {
            background: $bgGreen;
            color: $black;
        }
    }

    &__table {
        &-text {
            color: $black;
            font-family: $im;
            font-size: 12px;

        }

        &-history {
            color: $textGreen !important;
        }

        &-item {
            height: 510px;
            
            &-info {
                display: flex;
                padding: 0 14px;
                margin-bottom: 20px;
                align-items: center;
            }

            &-avatar-img {
                width: 28px;
                height: 28px;
                border-radius: 100%;
            }

            &-numeration {
                width: 25px;
            }

            &-name {
                width: 150px;
            }

            &-avatar {
                width: 38px;
            }

            &-phone {
                width: 170px;
                text-align: center;
            }

            // &-email {
            //     width: 170px;
            // }

            &-balance {
                width: 160px;
                text-align: center;
            }

            // &-history {
            //     width: 110px;
            // }

            // &-method-replenishment {
            //     width: 150px;
            // }

            &-date {
                width: 230px;
                text-align: center;
            }

            &-action {
                width: 160px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                cursor: pointer;
            }
        }
    }

    &__head {
        display: flex;
        background: $bgGray;
        padding: 10px 14px;
        border-radius: 8px;
        box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.12) inset;
        margin-top: 20px;
        font-size: 12px;
        color: $black;
        font-family: $im;
        margin-bottom: 20px;

        &-numeration {
            width: 15px;
        }

        &-name {
            width: 200px;
        }

        &-phone {
            width: 170px;
            text-align: center;
        }

        // &-email {
        //     width: 200px;
        // }

        &-balance {
            width: 150px;
            text-align: center;
        }

        // &-history {
        //     width: 100px;
        // }

        // &-method-replenishment {
        //     width: 170px;
        // }

        &-date-and-time {
            width: 250px;
            text-align: center;
        }

        &-action {
            width: 170px;
            text-align: end;
        }
    }
}